.short-description {
    background: url("../images/backrounds/image-10.jpg") no-repeat;
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    padding-left: 50px;
    text-align: center;
    font-size: 20px;
    margin-top: 158px;
    margin-bottom: 20px;
}

.contact-us img {
    width: 70px;
}

.contact-us {
    font-size: 15px;
}

.contact-us-grid {
    display: grid;
    grid-template-columns: 300px;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.contact-us .tel-numbers,
.contact-us .email,
.contact-us .website,
.contact-us .location {
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.contact-us .tel-numbers:hover,
.contact-us .email:hover,
.contact-us .website:hover,
.contact-us .location:hover {
    transform: translateY(-3px);
    cursor: pointer;
}

.contact-us .tel-numbers img,
.contact-us .email img,
.contact-us .website img,
.contact-us .location img {
    transition: transform 0.3s;
}

.contact-us .tel-numbers img:hover,
.contact-us .email img:hover,
.contact-us .website img:hover,
.contact-us .location img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.contact-us a {
    color: black;
}

.contact-us a:hover {
    color: rgb(223, 3, 3);
}

.back-to-top {
    display: flex;
    padding: 5px;
    justify-content: end;
}

.back-to-top a{
    background: rgb(223, 3, 3);
    font-size: 20px;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.2s, transform 0.2s;
}

.back-to-top a:hover {
    background: rgb(2, 7, 70);
    transform: translateY(-2px);
}

@media (min-width: 600px) {
    .short-description {
        font-size: 25px;
        text-align: left;
        padding-top: 60px;
        padding-right: 60px;
        padding-bottom: 120px;
        padding-left: 60px;
        margin-top: 108px;
    }

    .contact-us-grid {
        grid-template-columns: 250px 250px;
        justify-content: center;
        align-items: start;
    }

    .contact-us .tel-numbers,
    .contact-us .email,
    .contact-us .website,
    .contact-us .location {
        height: 250px;
    }

    .contact-us .tel-numbers img,
    .contact-us .email img,
    .contact-us .website img,
    .contact-us .location img {
        padding-top: 30px;
    }
    
}

@media (min-width: 1024px) {
    .short-description {
        margin-top: 133px;
    }

    .contact-us-grid {
        grid-template-columns: 250px 250px  250px 250px;
    }
}