header {
    padding: 10px;
    background: rgb(1, 4, 50);
    text-align: center;
    font-size: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
}

header a {
    color: white;
}

.altra-link-logo {
    width: 75px;
    border-radius: 10px;
}

nav ul {
    padding: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
}

nav ul li {
    list-style: none;
    text-transform: uppercase;
}

.active {
    font-weight: bold;
    color: rgb(223, 3, 3);
}

nav ul li a:hover {
    color: rgb(223, 3, 3);
    transition: color 0.3s;
}


@media (min-width: 600px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 17px;
        padding-right: 60px;
        padding-left: 60px;
    }

    .altra-link-logo {
        width: 85px;
    }

}

@media (min-width: 1024px){
    .altra-link-logo {
        width: 110px;
    }
}

@media (min-width: 1440px){

}